.fullScreenImageContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.buttonsContainer {
  position: absolute;
  top: 70%; /* Adjusted to 3/4 of the height */
  left: 50%;
  transform: translateX(-50%);}

.button {
  margin: 5px;
}
